.btn-import {
    margin-top: 14px;
}

.form-adduser {
    padding-left: 100px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-group label {
    margin-right: 4px;
    width: 80px;
}

.form-group select {
    width: 150px;
}

.add-user button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
